@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #fafafa;
  --color-foreground: #1a1a22;
  --color-sidebar: #1a1a22;

  --color-expense-50: #fef2f2;
  --color-expense-100: #fee2e2;
  --color-expense-200: #fecaca;
  --color-expense-300: #fca5a5;
  --color-expense-400: #f87171;
  --color-expense-500: #ef4444;
  --color-expense-600: #dc2626;
  --color-expense-700: #b91c1c;
  --color-expense-800: #991b1b;
  --color-expense-900: #7f1d1d;
  --color-expense-950: #450a0a;

  --color-income-50: #f0fdf4;
  --color-income-100: #dcfce7;
  --color-income-200: #bbf7d0;
  --color-income-300: #86efac;
  --color-income-400: #4ade80;
  --color-income-500: #22c55e;
  --color-income-600: #16a34a;
  --color-income-700: #15803d;
  --color-income-800: #166534;
  --color-income-900: #14532d;
  --color-income-950: #052e16;

  --color-budget-50: #fffbeb;
  --color-budget-100: #fef3c7;
  --color-budget-200: #fde68a;
  --color-budget-300: #fcd34d;
  --color-budget-400: #fbbf24;
  --color-budget-500: #f59e0b;
  --color-budget-600: #d97706;
  --color-budget-700: #b45309;
  --color-budget-800: #92400e;
  --color-budget-900: #78350f;
  --color-budget-950: #451a03;

  --color-debt-50: #f5f3ff;
  --color-debt-100: #ede9fe;
  --color-debt-200: #ddd6fe;
  --color-debt-300: #c4b5fd;
  --color-debt-400: #a78bfa;
  --color-debt-500: #8b5cf6;
  --color-debt-600: #7c3aed;
  --color-debt-700: #6d28d9;
  --color-debt-800: #5b21b6;
  --color-debt-900: #4c1d95;
  --color-debt-950: #2e1065;

  --color-dashboard-50: #eff6ff;
  --color-dashboard-100: #dbeafe;
  --color-dashboard-200: #bfdbfe;
  --color-dashboard-300: #93c5fd;
  --color-dashboard-400: #60a5fa;
  --color-dashboard-500: #3b82f6;
  --color-dashboard-600: #2563eb;
  --color-dashboard-700: #1d4ed8;
  --color-dashboard-800: #1e40af;
  --color-dashboard-900: #1e3a8a;
  --color-dashboard-950: #172554;

  --color-black-50: #fafafa;
  --color-black-100: #f5f5f5;
  --color-black-200: #e6e6e6;
  --color-black-300: #d6d6d6;
  --color-black-400: #a5a5a5;
  --color-black-500: #767676;
  --color-black-600: #575757;
  --color-black-700: #434343;
  --color-black-800: #292929;
  --color-black-900: #1a1a1a;
  --color-black-950: #000000;

  /* Shadow */
  --shadow-neo-sm: 3px 3px 0px 0px;
  --shadow-neo-md: 4px 4px 0px 0px;
  --shadow-neo-lg: 5px 5px 0px 0px;
  --shadow-neo-xl: 6px 6px 0px 0px;

  /* Fonts */
  --font-head: "Plus Jakarta Sans", sans-serif;
  --font-display: "Geist", sans-serif;

  /* Animate */
  --animate-scale-up: scale-up 0.3s ease-in forwards;
  --animate-scale-down: scale-down 0.3s ease forwards;

  /* Spacing */
  --spacing-safe-area: 1.5rem;

  /* Sizing */
  --text-xxs: 0.625rem;
}

body {
  font-family: var(--font-display);
}

h1,
h2,
h3 {
  font-family: var(--font-head);
}

@keyframes scale-up {
  0% {
    display: block;
    scale: 0;
  }

  5% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes scale-down {
  0% {
    scale: 1;
  }

  95% {
    scale: 0;
  }

  100% {
    scale: 0;
    display: none;
  }
}

@keyframes show-up {
  0% {
    display: block;
    translate-x: -100%;
  }

  5% {
    translate-x: -100%;
  }

  100% {
    translate-x: 0%;
  }
}

@keyframes show-down {
  0% {
    translate-x: 0%;
  }

  95% {
    translate-x: -100%;
  }

  100% {
    translate-x: -100%;
    display: none;
  }
}

/* Dialog animation transition open and close */
dialog {
  opacity: 0;
  transition:
    opacity 0.35s ease-in,
    transform 0.35s ease-in,
    overlay 0.35s ease-in allow-discrete,
    display 0.35s ease-in allow-discrete;
}

dialog[open] {
  opacity: 1;
}

dialog .modal-panel {
  opacity: 0;
  transform: scale(0) translateY(100%);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    overlay 0.3s ease allow-discrete,
    display 0.3s ease allow-discrete;
}

dialog[open] .modal-panel {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }

  dialog[open] .modal-panel {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
}
